{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/finches/finch-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Finch List</h1>
  <img src="{% static 'images/goldfinch.jpeg' %}" alt="A gold finch" />
  <img src="{% static 'images/grassfinch.jpeg' %}" alt="A grass finch" />
  <img src="{% static 'images/housefinch.jpeg' %}" alt="A house finch" />
  <img src="{% static 'images/redhousefinch.jpeg' %}" alt="A red house finch" />
</section>

<section class="card-container">
  {% for finch in finches %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/goldfinch.jpeg' %}" 
            alt="A gold finch"
            class="finch-img"
          >
        </div>
        <h2 class="card-title">{{ finch.name }}</h2>
        {% if finch.age > 0 %}
          <p>A {{ finch.age }} year old {{ finch.type }}</p>
        {% else %}
          <p>A {{ finch.breed }} chick.</p>
        {% endif %}
        <p><small>{{ finch.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}